/* General Body Styling */
body {
    direction: rtl;
    /* text-align: center; */
    background-color: #e9eaee;
    color: #333;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* Header styles */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add space between header and discount aside */
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 150px;
}

.right-menu {
    display: flex;
    align-items: center;
}
.sign-in-button {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the spacing between icon and text */
}

.search-bar {
    direction: rtl;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-bar input[type="text"] {
    padding: 10px 40px 10px 20px;
    border: 1px solid #e5bf19;
    border-radius: 20px;
    width: 400px;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Add background color */
    font-size: 16px; /* Adjust font size */
    font-weight: bold;
    color: #333; /* Change text color */
    transition: border-color 0.3s ease; /* Add transition effect */
}

.search-bar input[type="text"]:focus {
    border-color: #aaa; /* Change border color on focus */
}

.search-bar i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

/* Add hover effect for the search icon */
.search-bar i:hover {
    color: #666;
}


.connect-register a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #e5bf19;
    border-radius: 20px;
    transition: color 0.3s ease;
    background-color: #f8f8f8;
}

.connect-register a:hover {
    color: #333;
}

.hamburger-menu {
    display: none;
    position: relative;
}

.hamburger-menu i {
    font-size: 24px;
    cursor: pointer;
}

.hamburger-menu .menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.hamburger-menu:hover .menu-items {
    display: block;
}

.hamburger-menu .menu-items a,
.hamburger-menu .menu-items .menu-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
}

.hamburger-menu .menu-items .menu-item .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    right: -95%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    list-style: none; /* Remove bullet points */
}

.hamburger-menu .menu-items .menu-item:hover .sub-menu {
    display: block;
}

.hamburger-menu .menu-items .menu-item .sub-menu a {
    padding: 5px;
}

.hamburger-menu .menu-items a:hover,
.hamburger-menu .menu-items .menu-item a:hover {
    background-color: #f5f5f5;
}

/* Navigation styles */
nav {
    background-color:  #fce16b;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.8); /* Add underline shadow */
    margin-right: 10px; /* Add margin to the right side */
}

.categories {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.categories li {
    margin: 0 10px;
    position: relative;
}

.categories li a {
    color: #3c68a1;
    text-decoration: none;
    position: relative;
    padding-right: 20px; /* Add padding for the arrow */
}


.categories .separator {
    color:#3c68a1;
}

.categories .separator::after {
    margin-left: 5px;
    margin-right: 5px;
}


.categories li:hover .sub-categories {
    display: block;
}

.categories .sub-categories {
    list-style: none; /* ביטול הנקודות בתתי הקטגוריות */
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    text-align: right;
    white-space: nowrap; /* מונע שבירת שורות */
    font-size: 16px; /* גודל הפונט */
}

.categories .sub-categories li {
    margin: 10px 0; /* הגדלת הרווח בין האלמנטים */
}

.categories .sub-categories li a {
    display: block; /* מאפשר את שינוי צבע הרקע */
    padding: 5px 10px; /* הוספת רווח פנימי */
    color: #e5bf19;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* הוספת מעבר חלק לצבעי הרקע והטקסט */
}

.categories .sub-categories li a:hover {
    background-color: #e0e0e0; /* צבע הרקע החדש כאשר מרחפים */
    color: #3c68a1; /* צבע הטקסט החדש כאשר מרחפים */
}

footer {
    background-color: #fce16b;
    color: #3c68a1;
    padding: 20px;
    text-align: right;
    margin-top: 15px;
}

.footer-column {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top; /* יישור למעלה */
}

.footer-column h4 {
    font-size: 18px;
    border-bottom: 1px solid #3c68a1;
    padding-bottom: 10px;
    margin-bottom: 0; /* הוספת הגבלת רווח לתוך העמודה */
}

.footer-column p {
    margin: 5px 0;
}

.contact-details {
    display: inline-block;
    margin-right: 300px; /* הזזת הטקסט לצד ימין */
    margin-left: 250px; /* הזזת הטקסט לצד שמאל */
    text-align: center;
    vertical-align: top;
}


.contact-details h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-details p {
    margin: 5px 0;
}

footer a {
    color: #3c68a1;
    text-decoration: none;
    padding-bottom: 5px; /* הסרת הפס מתחת לקישור */
    border-bottom: 1px solid transparent; /* פס מתחת לקישור, שקופה בהתחלה */
    transition: border-bottom-color 0.3s; /* אנימציה של הפס */
}

footer a:hover {
    border-bottom-color: #fff; /* פס מתחת לקישור שוחזר ללבן בעת העכבר מעליו */
}



/* Detailed Book Container */
.book-details-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px; /* Adjusted padding for a more compact look */
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px; /* Reduced max-width */
    padding: 20px 20px 10px 20px; /* Adjusted padding: top, right, bottom, left */
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 40px; /* Reduced gap */
    text-align: right;
}

.book-details-header img {
    margin-top: 5%;
    width: 250px; /* Reduced image width */
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    text-align: right;
    
}

.book-details-title {
    font-size: 40px; /* Adjusted font size */
    font-weight: bold;
    margin-bottom: 10px;
    color: #3c68a1;
}

.book-details-author {
    font-size: 18px; /* Adjusted font size */
    color: #555;
    margin-bottom: 5px;
}

.book-details-price {
    font-size: 24px; /* Adjusted font size */
    font-weight: bold;
    color: #3c68a1;
    margin-bottom: 10px;
}

.book-details-description {
    font-size: 14px; /* Adjusted font size */
    line-height: 1.4; /* Adjusted line height */
    margin-bottom: 10px;
    color: #666;
    text-align: justify;
}

.book-details-icons {
    display: flex;
    gap: 10px; /* Reduced gap */
    margin-bottom: 10px;
}

.book-details-icons i {
    font-size: 24px; /* Adjusted icon size */
    color: #3c68a1;
    cursor: pointer;
    transition: color 0.3s ease;
}

.book-details-icons i:hover {
    color: #2f5077;
}

.book-details-buttons {
    display: flex;
    gap: 10px; /* Reduced gap */
}

.book-details-buttons button {
    padding: 10px 20px; /* Adjusted padding */
    border: none;
    border-radius: 8px;
    font-size: 16px; /* Adjusted font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-details-buttons .purchase-button {
    background-color: #3c68a1;
    color: #fff;
}

.book-details-buttons .purchase-button:hover {
    background-color: #2f5077;
}

.book-details-buttons .cart-button {
    background-color: #ddd;
    color: #333;
}

.book-details-buttons .cart-button:hover {
    background-color: #ccc;
}

.book-details-extra {
    margin-top: 20px; /* Adjusted margin-top */
    text-align: right;
    width: 100%;
}

.book-details-extra h3 {
    font-size: 20px; /* Adjusted font size */
    margin-bottom: 10px; /* Adjusted margin-bottom */
    color: #3c68a1;
}

.book-details-extra ul {
    list-style: none;
    padding: 0;
}

.book-details-extra ul li {
    font-size: 14px; /* Adjusted font size */
    color: #666;
    margin-bottom: 8px; /* Adjusted margin-bottom */
}

.book-details-extra ul li i {
    color: #3c68a1;
    margin-left: 10px;
}
/* Responsive styles for main content */
@media (max-width: 768px) {
    /* Adjust the layout of the content and discount-books */
    .content-wrapper {
        width: 100%;
        box-sizing: border-box;
    }
    header{
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        
    }

    main {
        width: 100%;
        box-sizing: border-box;
        order: 1;
    }

    /* Hide categories and display hamburger menu */
    .categories {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* Adjust the position and size of search-bar and connect-register */
    header .right-menu {
        display: flex;
        align-items: center;
    }

    .search-bar,
    .connect-register {
        width: auto;
        margin-left: 0;
        box-sizing: border-box;
        font-size: 0.8rem; /* Adjust font size for smaller appearance */
        padding: 5px; /* Add padding to adjust size */
    }

    .search-bar input[type="text"] {
        width: 150px; 
        /* Reduce the width of the search input */
        padding: 1px; /* Reduce padding for smaller input */
    }

    .connect-register {
        margin-left: 10px;
        padding: 3px 5px; /* Adjust padding for smaller appearance */
    }

    .right-menu {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        box-sizing: border-box;
    }

 
    .search-bar {
        margin-top: 10px;
        margin-left:1px;
        padding: 3px 5px; /* Adjust padding for smaller appearance */
    }


    .connect-register {
        margin-bottom: 10px;
    }

    .hamburger-menu {
        margin-top: auto;
    }

    /* Hide right-menu and display hamburger menu */
    .right-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .main-menu {
        justify-content: space-between;
    }

    nav ul {
        display: none;
    }

    /* Adjust the layout and styling of book details */
    .book-details-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .book-details-header img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .book-details-info {
        align-items: center;
        text-align: center;
    }

    .book-details-title {
        font-size: 24px;
    }

    .book-details-author {
        font-size: 16px;
    }

    .book-details-price {
        font-size: 20px;
    }

    .book-details-description {
        font-size: 14px;
        text-align: justify;
    }

    .book-details-icons {
        justify-content: center;
    }

    .book-details-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .book-details-buttons button {
        width: 100%;
        max-width: 200px;
    }

    .book-details-extra {
        width: 100%;
        text-align: center;
    }

    footer{
        width: 100%;
        box-sizing: border-box;
     }
    /* Adjust the layout of footer columns and contact details */
    .footer-column, .contact-details {
        width: 100%;
        display: block;
        margin: 0;
        text-align: center;
    }

    .contact-details {
        margin: 20px 0;
    }
}

